/*grilles*/

body
{
	 
}

#conteneur
{
	background-color: white;
    height: 500px;
}

header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

.vie_mana {
	
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    font-size: 9px;
    color: white;
}

h6{
    margin: 1px;
}
.vie{
    background-color: red;
    height: 40%;
    padding-left: 2px;
    padding-top: 1px;
}

.mana{
	background-color: blue;
    height: 40%;
    padding-left: 2px;
    padding-top: 1px;
}




.row{
	width : 100%; 
}

.col{ 
	box-sizing: border-box;
    
	   
}

.nav{
    background-color: red;
    color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
   
}

section{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #FFF0F5;
}

.fleche{
    background-color: black;
    height: 20%;
}

footer{
    height: 10%;
    background-color: gray;
}




/* Principal */
#menu {
	   
        list-style-type: none;
        text-align: center;
        padding: 10px 0 0 0;
        background: red;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        border-radius: 5px;
   
       
}
#menu li{
        padding: 0 0 10px 0;
        position: relative;
        width: 100%;
    
}

#menu a{
        text-align: center;
        padding: 0 5px;
        color:white;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
        font-size: 14px;
        font-weight: bolder;
    
    
    
        
}

#menu li:hover > a{
        color: white;
}


#menu li:hover > ul{
        display: block;
}

/* Sous-menu */

#menu ul{
    list-style-type: none;
    margin: auto;
    padding: 0 0px 0px 0;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: red;
    border-radius: 10px;
    

}

#menu ul li{
    
    margin: 0;
    width: 100%;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    
}

#menu ul li:last-child{
    box-shadow: none;
}

#menu ul a{
    
    padding-top: 30px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: none;
}



#menu ul a:hover{
        background:firebrick;
      
}

#menu ul li:first-child a{
    border-radius: 5px 5px 0 0;
}


#menu ul li:first-child a:hover:after{
    border-bottom-color: red;
}

#menu ul li:last-child a{
   
    border-radius: 0 0 5px 5px;
}




@media only screen and (max-width: 480px)
{
	.mob-0 { display: none;}
	.mob-1 { width : 8.33%; }
	.mob-2 { width : 16.66%; }
	.mob-3 { width : 24.99%; }
	.mob-4 { width : 33.33%; }
	.mob-5 { width : 41.66%; }
	.mob-6 { width : 49.99%; }
	.mob-7 { width : 58.33%; }
	.mob-8 { width : 66.66%; }
	.mob-9 { width : 74.99%; }
	.mob-10 { width : 83.33%; }
	.mob-11 { width : 91.66%; }
	.mob-12 { width : 100%; }
}

@media only screen and (min-width: 481px) and (max-width: 800px)
{

	.tab-0 { display: none;}
	.tab-1 { width : 8.33%; }
	.tab-2 { width : 16.66%; }
	.tab-3 { width : 24.99%; }
	.tab-4 { width : 33.33%; }
	.tab-5 { width : 41.66%; }
	.tab-6 { width : 49.99%; }
	.tab-7 { width : 58.33%; }
	.tab-8 { width : 66.66%; }
	.tab-9 { width : 74.99%; }
	.tab-10 { width : 83.33%; }
	.tab-11 { width : 91.66%; }
	.tab-12 { width : 100%; }
}

@media only screen and (min-width: 801px)
{
	.dsk-0 { display: none;}
	.dsk-1 { width : 8.33%; }
	.dsk-2 { width : 16.66%; }
	.dsk-3 { width : 24.99%; }
	.dsk-4 { width : 33.33%; }
	.dsk-5 { width : 41.66%; }
	.dsk-6 { width : 49.99%; }
	.dsk-7 { width : 58.33%; }
	.dsk-8 { width : 66.66%; }
	.dsk-9 { width : 74.99%; }
	.dsk-10 { width : 83.33%; }
	.dsk-11 { width : 91.66%; }
	.dsk-12 { width : 100%; }
}

