#header {
  background-image:       url(entete-medium.jpg);
}

#article {
  float:        left;
  width:      70%;
  padding:    6em 0;
}
#aside {
  float:            right;
  width:          30%;
  padding:    6em 0;
}