* {
  margin:   0;
  padding:  0;
  border:   0;
}

body {
  font-family:  Arial, Helvetica, sans-serif;
  font-size:    62.5%;
  color:        #000;
}

#header, #menu, #menu ul, #menu li, #menu li a, #main, #footer {
  display:    inline-block;
  float:      left;
  position:   relative;
  width:      100%;
  text-align: center;
}

#header {
  font-size:  2em;
  padding:    2em 0;
  background: #ccc url(entete-global.jpg) no-repeat center;
}

#menu {
    position: static;
  font-size:          1.5em;
  background:   #00C;
}
#menu li a {
  color:            #fff;
  padding:    .5em 0;
}

#main {
  background: #F51;
}

#article {
  padding:    .5em 0;
  font-size:    2em;
  background: #FF2;
}

#aside {
  padding:    3em 0;
  font-size:  2em;
  background: #B0E;
}

#footer {
  padding:    1em 0;
  font-size:  2em;
  background: #48F;
}


@media only screen and (min-width: 1px) {
  * {
    -webkit-box-sizing:      border-box;
    -moz-box-sizing:           border-box;
    box-sizing:                       border-box;
  }
  #menu li {
    text-align: left;
  }
  #header {
    background-size:  cover;
  }

}

@media only screen and (min-width: 480px) {
    #menu {
        position: relative;
    }
    #menu li {
        width:  20%;
    }
}



