/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset css*/

/*custom*/

body
{
	background-color: pink;
}


#header
{
	background-color: #333333;
	padding: 10px;
	box-sizing: border-box;
	font-size: 2rem;
	color: white;
}

.article
{
	padding: 5px;
}

.menubtn
{
	width: 50px;
	height: 80px;
	background-color: green;
}

.login_menu
{
	background-color: cyan;
	height: 80px;
}

.pub img
{
	flex-shrink: 1;
	flex-grow: 2;
	width: 100%;
	height: auto;
	margin: auto;
}

/*custom*/


/*grilles*/
.row
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width : 100%;
}

.col
{ 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}


@media only screen and (max-width: 480px)
{
	
	.container
	{
		width: 320px;
		margin: auto;
	}
	
	.mob-0 { display: none;}
	.mob-1 { width : 8.33%; }
	.mob-2 { width : 16.66%; }
	.mob-3 { width : 24.99%; }
	.mob-4 { width : 33.33%; }
	.mob-5 { width : 41.66%; }
	.mob-6 { width : 49.99%; }
	.mob-7 { width : 58.33%; }
	.mob-8 { width : 66.66%; }
	.mob-9 { width : 74.99%; }
	.mob-10 { width : 83.33%; }
	.mob-11 { width : 91.66%; }
	.mob-12 { width : 100%; }
}

@media only screen and (min-width: 481px) and (max-width: 800px)
{
	.container
	{
		width: 650px;
		margin: auto;
	}
	
	
	.tab-0 { display: none;}
	.tab-1 { width : 8.33%; }
	.tab-2 { width : 16.66%; }
	.tab-3 { width : 24.99%; }
	.tab-4 { width : 33.33%; }
	.tab-5 { width : 41.66%; }
	.tab-6 { width : 49.99%; }
	.tab-7 { width : 58.33%; }
	.tab-8 { width : 66.66%; }
	.tab-9 { width : 74.99%; }
	.tab-10 { width : 83.33%; }
	.tab-11 { width : 91.66%; }
	.tab-12 { width : 100%; }
}

@media only screen and (min-width: 801px) and (max-width: 1024px)
{
	.container
	{
		width: 900px;
		margin: auto;
	}
	
	.dsk-0 { display: none;}
	.dsk-1 { width : 8.33%; }
	.dsk-2 { width : 16.66%; }
	.dsk-3 { width : 24.99%; }
	.dsk-4 { width : 33.33%; }
	.dsk-5 { width : 41.66%; }
	.dsk-6 { width : 49.99%; }
	.dsk-7 { width : 58.33%; }
	.dsk-8 { width : 66.66%; }
	.dsk-9 { width : 74.99%; }
	.dsk-10 { width : 83.33%; }
	.dsk-11 { width : 91.66%; }
	.dsk-12 { width : 100%; }
}

@media only screen and (min-width: 1025px)
{
	.container
	{
		width: 1100px;
		margin: auto;
	}
	
	.dsk-0 { display: none;}
	.dsk-1 { width : 8.33%; }
	.dsk-2 { width : 16.66%; }
	.dsk-3 { width : 24.99%; }
	.dsk-4 { width : 33.33%; }
	.dsk-5 { width : 41.66%; }
	.dsk-6 { width : 49.99%; }
	.dsk-7 { width : 58.33%; }
	.dsk-8 { width : 66.66%; }
	.dsk-9 { width : 74.99%; }
	.dsk-10 { width : 83.33%; }
	.dsk-11 { width : 91.66%; }
	.dsk-12 { width : 100%; }
}
/*grilles*/
