<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Connect</title>
	<link href="{{ asset('./css/main.css') }}" type="text/css" rel="stylesheet" />
</head>
<body>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
</body>
</html>